html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 599px) {
    .container {
        width: 100%;
    }   
}

@media only screen and (min-width: 600px) {
    .container {
        width: 600px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }
}

a {
        color: rgb(43, 153, 226);
    text-decoration: none;
}

.header {
    display: flex;
    width: 100%;
    height: 7em;
    padding-top: 2em;
}

.title {
    width: 60%;
}

nav {
    right: 0;
    float: right;
    text-align: right;
    width: 40%;
}

nav li {
    display: inline;
    list-style-type: none;
}

nav li a {

}

.main-content {
    display: flex;
    width: 100%;
}

.bio {
    display: inline-block;
    left: 0;
    padding: 1em;
    width: 60%;
}

.headshot {
    flex-align: right;
    display: inline-block;
    padding: 1em;
    width: 40%;
}

.headshot img {
    max-width: 100%;
}

footer {
    width: 100%;
    text-align: right;
    position: relative;
    bottom: 0;
}