html {
    color-scheme: light;
    color: #000;
    background: #fff;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.4;
}

body {
    max-width: 640px;
    margin: 24px;
}

h1 {
    font-size: 2em;
    line-height: 1.15;
}

a {
    color: #0000ee;
    text-decoration: underline;
}

a:visited {
    color: #551a8b;
}

a:active {
    color: #f00;
}

@media (max-width: 600px) {
    body {
        margin: 16px;
    }
}
